/**
 * Main Styles for site.
 */

// sass main.scss ../style.min.css --style=compressed
// sass --watch main.scss:../style.min.css --style=compressed



$theme-green : #2ad167;
$theme-dark: #2a3342;
$theme-green: #90a2b8;
$theme-blanco: #f7f8f9;

// $breakpoint-hamburger : ; vamos a usar la resolución de iphone 12 pro 390 x 844

 @import "normalize";
 @import "fonts";
// @import "skeleton";
// @import "header";
// @import "footer";
