body {
    font-family: "Work Sans", sans-serif;
    color: $theme-dark;
}

button {
    cursor: pointer;
}

#nav-home {
    display: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

#burger-button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;

    .burger-div-button {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        display: block;
        transition: 0.4s;
    }
}

body.burger-menu-opened {
    overflow: hidden;
    color: white;

    #burger-button .burger-div-button {
        background-color: white;

        &:first-child {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:last-child {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }
    }

    #nav-home {
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: $theme-dark;
    }

    #list-itmes-nav-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        .items-list-nav {
            padding: 10px;
        }
    }

    #list-btns-nav-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .btns-list-nav {
            padding: 10px;

            button {
                background-color: $theme-green;
                border-radius: 10px;
                padding: 5px 50px;
                border: 0;
                font-weight: 900;
                color: white;
            }
        }
    }
}

.logo {
    width: 20px;
}

#link-logo-header {
    padding: 10px;
    display: inline-block;
}

#nuevo-title {
    background-color: $theme-green;
    display: block;
    margin-left: 5px;
    color: white;
    width: 60px;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 4px;
}

.general-titles-and-text {
    margin-left: 5px;
    padding-left: 4px;
}

#list-btns-section-header {
    display: flex;
    padding-left: 4px;
    margin-left: 5px;

    li {
        button {
            border-radius: 10px;
            margin-right: 20px;
            padding: 13px;

            &.btn-demo {
                background-color: $theme-green;
                color: white;
                border: 0;
            }

            &.btn-registrarse {
                background-color: $theme-blanco;
                color: black;
                border: solid 1px $theme-gray;
            }
        }
    }
}

#image-header {
    &::before {
        content: url("img/circle3-yellow.svg");
        position: absolute;
        left: 10px;
        top: 263px;
    }

    &::after {
        content: url("img/dots3-blue.svg");
        right: 22px;
        position: absolute;
        bottom: 267px;
    }
}

#section-caracteristicas {
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 80px;

        li {
            max-width: 300px;

            svg {
                background-color: $theme-green;
                border-radius: 10px;
                padding: 20px;
                margin-bottom: 5px;
                color: white;
            }
        }
    }
}
