body {
    font-family: "Work Sans", sans-serif;
    color: $theme-dark;
}

.container {
    max-width: 400px;
    margin: auto;

    @media (min-width: 1100px) {
        max-width: 1400px;
    }
}

button {
    cursor: pointer;
}

#nav-home {
    display: none;

    @media (min-width: 1100px) {
        align-items: center;
        justify-content: space-between;
        display: flex;
    }


    ul {
        @media (min-width: 1100px) {
          
            display: flex;


            .items-list-nav {
                padding: 0 10px;
            }

            .btns-list-nav {
                padding: 0 10px;


            &.one button{
                background-color: transparent;
                border: 0;
                padding: 12px;
            }

            &.two button{
                background-color: $theme-green;
                border: 0;
                color: white;
                border-radius: 5px;
                padding: 12px;
            }


            }
        }


    }
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    
}

a {
    color: inherit;
    text-decoration: none;
}

#burger-button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;

    .burger-div-button {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        display: block;
        transition: 0.4s;
    }

    @media (min-width: 1100px) {
        display: none;
    }
}

body.burger-menu-opened {
    overflow: hidden;
    color: white;

    #burger-button .burger-div-button {
        background-color: white;

        &:first-child {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:last-child {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }
    }

    #nav-home {
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: $theme-dark;
    }

    #list-itmes-nav-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        .items-list-nav {
            padding: 10px;
        }
    }

    #list-btns-nav-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .btns-list-nav {
            padding: 10px;

            button {
                background-color: $theme-green;
                border-radius: 10px;
                padding: 5px 50px;
                border: 0;
                font-weight: 900;
                color: white;
            }
        }
    }
}

.logo {
    width: 20px;
}

#link-logo-header {
    padding: 10px;
    display: inline-block;
}

#nuevo-title {
    background-color: $theme-green;
    display: block;
    margin-left: 5px;
    color: white;
    width: 60px;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 4px;
}

.general-titles-and-text {
    margin-left: 5px;
    padding-left: 4px;
}

#list-btns-section-header {
    display: flex;
    padding-left: 4px;
    margin-left: 5px;

    li {
        button {
            border-radius: 10px;
            margin-right: 20px;
            padding: 13px;

            &.btn-demo {
                background-color: $theme-green;
                color: white;
                border: 0;
            }

            &.btn-registrarse {
                background-color: $theme-blanco;
                color: black;
                border: solid 1px $theme-gray;
            }
        }
    }
}

#image-header {
    &::before {
        content: url("img/circle3-yellow.svg");
        position: absolute;
        left: 10px;
        top: 263px;
    }

    &::after {
        content: url("img/dots3-blue.svg");
        right: 22px;
        position: absolute;
        bottom: 267px;
    }
}

#section-caracteristicas {
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 80px;

        li {
            max-width: 300px;

            svg {
                background-color: $theme-green;
                border-radius: 10px;
                padding: 20px;
                margin-bottom: 5px;
                color: white;
                margin-top: 30px;
            }
        }
    }
}

.tarjeta-area-servicios {
    display: flex;
    flex-direction: column;

    span {
        color: $theme-green;
        text-align: center;
        padding: 5px;
        font-size: 18px;

        &.span-precio {
            text-transform: uppercase;
            font-size: 12px;
            padding-bottom: 20px;
            margin-top: 40px;
        }
    }

    h3 {
        text-align: center;
        font-size: 22px;

        .special-price-number {
            font-size: 46px;
            color: $theme-dark;

            &::before {
                content: "$";
                font-size: 18px;
                position: relative;
                top: -23px;
                left: -5px;
            }
        }
    }

    .pe-facturado-anualmente {
        text-align: center;
        font-size: 18px;
        color: $theme-gray;
        margin: 0;
    }

    ul {
        max-width: 300px;
        margin: auto;
        padding-right: 35px;
        padding-top: 21px;

        li {
            padding: 10px 0;
            font-size: 15px;

            &::before {
                content: " ";
                background-image: url("img/check-green-icon.svg.png");
                width: 15px;
                height: 15px;
                background-size: contain;
                display: inline-block;
                margin-right: 5px;
                vertical-align: middle;
            }
        }
    }

    .btn-solicitar-demo-area-servicios {
        background-color: $theme-green;
        color: white;
        margin: 5px 75px;
        border-radius: 5px;
        border: 0;
        padding: 8px 0;
    }
}

footer {
    background-color: $theme-dark;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    ul li {
        padding: 5px;
    }
}

.modal {
    display: none;
}

body.modal-button-opened {
    .modal {
        display: block;
        z-index: 4;
        position: fixed;
        top: 0;
        background-color: $theme-dark;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 28px;
        text-align: center;

        img {
            background-color: #2ad167;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 5px;
            margin-top: 30px;
        }

        label {
            display: block;
        }

        h3 {
            font-size: 28px;
            margin-bottom: 10px;
        }

        .p-conseguir-resultados {
            margin-top: 0;
            color: $theme-gray;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                text-align: left;
                font-size: 14px;
                padding-bottom: 5px;
                padding-top: 10px;
            }

            input {
                border-radius: 10px;
                height: 25px;
            }

            a {
                color: $theme-green;
            }

            button {
                background-color: #2ad167;
                border-radius: 5px;
                border: 0;
                padding: 8px;
                margin-top: 8px;

                a {
                    color: white;
                    margin: 5px 75px;
                    padding: 8px 0;
                }
            }

            #div-modal-options-password {
                display: flex;
                align-items: center;

                label {
                    font-size: 10px;
                    padding: 0;
                }
                a {
                    padding-left: 87px;
                    font-size: 10px;
                }
            }

            p {
                font-size: 12px;
            }
        }
    }
}
